
.closet-item-category {
    color: var(--bs-secondary-color);
}

.closetImage {
    max-width: 200px;;
}

.closetCard {
    position: relative;
}

.cardEditCloseButton {
    position: absolute;
    top: .5em;
    right: .5em;
}
.cardMenuButtonDiv {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
