{% extends "layout.html" %}

{% macro outfitCard(item) %}
  <div class="outfitItem">
    <div class="outfitItemText">
      {{item.itemname}}
    </div>
    <div class="outfitItemImage">
      <img src="{{item.imagePath}}" alt="{{item.itemname}}" class="">
    </div>
  </div>
{%- endmacro %}

{% block navIndexClass %}
  class="nav-link active"
{% endblock %}

{% block main %}
  <div>
    <h1>Wear this today</h1>
    <a href="/" class="btn btn-outline-primary mb-2" role="button">Make another outfit</a>
    <div class="outfitDisplay">
      {{ outfitCard(item1) }}
      {% if item2.id == item1.id %}
      
      {% else %}
        {{ outfitCard(item2) }}
      {% endif %}

      {{ outfitCard(shoes) }}
    </div>
  </div>
{% endblock %}
