{% extends "layout.html" %}

{% macro outfitCard(item) %}
  <div class="outfitRow">
    <div class="outfitItem">
      <div class="outfitItemText">
        {{item.itemname}}
      </div>
      <div class="outfitItemImage">
        <img src="{{item.imagePath}}" alt="{{item.itemname}}" class="">
      </div>
    </div>
    <div class="outfitItemLockDiv">
      <button type="button" class="btn btn-outline-primary itemLockButton" data-state="unlocked" data-itemname="{{item.itemname}}" data-item-id="{{item.id}}" data-category="{{item.category}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
        </svg>
      </button>
    </div>
  </div>
{%- endmacro %}

{% block navIndexClass %}
  class="nav-link active"
{% endblock %}

{% block main %}
  <div>
    <h1>Wear this today</h1>
    <div class="btn-group mb-2" id="newOutfitButtonGroup">
      <a href="/" class="btn btn-outline-primary" role="button" id="newOutfitButton">Make another outfit</a>
    </div>
    <div class="outfitDisplay">
      {{ outfitCard(item1) }}
      {% if item2.id == item1.id %}
      
      {% else %}
        {{ outfitCard(item2) }}
      {% endif %}

      {{ outfitCard(shoes) }}
    </div>
  </div>
{% endblock %}

{% block moreScripts %}
  <script>
    let unlockedSVG = `
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
    </svg>
    `
    let lockedSVG = `
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
    </svg>
    `
    let lockedItems = {
      'Top': null,
      'Bottom': null,
      'Shoes': null
    }

    function handleLockClick(event) {
      let lockButton = event.target
      let buttonGroup = document.querySelector('#newOutfitButtonGroup')
      
      if (lockButton.getAttribute('data-state') == "unlocked") {
        let newOutfitButton;
        // Add button for generating outfit with locked item(s), if it already exists select it
        if (buttonGroup.childElementCount == 1) {
          newOutfitButton = document.createElement('a')
          newOutfitButton.classList.add('btn', 'btn-outline-primary')
          newOutfitButton.setAttribute('role', 'button')
          newOutfitButton.innerText = 'New outfit with locked item(s)'
          newOutfitButton.id = 'outfitWithLockedItemsButton'
          buttonGroup.appendChild(newOutfitButton)
        } else {
          newOutfitButton = document.querySelector('#outfitWithLockedItemsButton')
        }
        // Update clicked button
        lockButton.innerHTML = lockedSVG
        lockButton.dataset['state'] = 'locked'
        // Add selected item to lockedItems
        lockedItems[lockButton.dataset['category']] = lockButton.dataset['itemId']
        newOutfitButton.setAttribute('href', composeURL(lockedItems))
      } else {
        lockButton.innerHTML = unlockedSVG
        lockButton.dataset['state'] = 'unlocked'
        lockedItems[lockButton.dataset['category']] = null
        let newOutfitButton = document.querySelector('#outfitWithLockedItemsButton')
        newOutfitButton.setAttribute('href', composeURL(lockedItems))
        if (lockedItems['Top'] == null && lockedItems['Top'] == lockedItems['Bottom'] && lockedItems['Top'] == lockedItems['Shoes']) {
          buttonGroup.lastChild.remove()
        }
      }
    }

    function composeURL(items) {
      let url = '/?'
      Object.keys(items).forEach((key) => {
        if (items[key]) {
          url = url.concat(key, '=', items[key], '&')
        }
      })
      url = url.slice(0,-1)
      return url
    }

    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.itemLockButton').forEach(lockButton => {
        lockButton.addEventListener('click', handleLockClick)
      })
    })
  </script>
{% endblock %}